ProjetDeveloppement/ProjetDeveloppement/Service References/ServiceLibraryWcf/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="GetInfoAbonne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoAbonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetInfoAbonneResult" nillable="true" type="q1:AbonneEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="testResult" nillable="true" type="q2:AbonneEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>